{% extends 'base.html' %}


{%block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Income</li>
                </ol>
              </nav>
        </div>
        <div class="col-md-2">
            <a href="{% url 'income-delete' income.id %}" class="btn btn-danger btn-danger-sm">Delete</a>
        </div>
    </div>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'income-edit' income.id %}" method="POST">
                    {% include 'partials/_messages.html' %}
                    {% csrf_token %}
                <div class="form-group">
                    <label for="">Amount </label>
                    <input class="form-control form-control-sm" type="number" name="amount" value="{{formValues.amount}}">
                </div>
                <div class="form-group">
                    <label for="">Description </label>
                    <input class="form-control form-control-sm" type="text" name="description" value="{{formValues.description}}">
                </div>
                <div class="form-group">
                    <label for="">Source </label>
                    <select class="form-control" name="source">
                        <option selected name="category" value="{{formValues.source}}">{{formValues.source}}</option>
                        {% for source in sources %}
                        <option name="category" value="{{source.name}}">{{source.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Date of Income </label>
                    <input class="form-control form-control-sm" type="date" name="income_date" value="{{formValues.date |date:'Y-m-d'}}">
                </div>
                <input type="submit" value="Save" class="btn btn-primary btn-primary-sm">
            </form>
            </div>
        </div>
</div>
{% endblock %}

